.code-block {
  position: relative;
}

.code-block:before {
  @apply absolute top-2 right-3 z-2 text-sm text-gray-500;
  content: attr(data-language);
}

.code-block__filename {
  @apply rounded text-xs px-2 py-1 absolute top-0 left-0 bg-gray-700/70 text-white;
}

.dark .code-block__filename {
  --tw-bg-opacity: 1;
  background-color: rgba(45,45,45,var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(156,163,175,var(--tw-text-opacity))
}

/*
[class*=language-] {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0/.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
  --tw-shadow-color: rgba(229, 231, 235, 1);
  --tw-shadow: var(--tw-shadow-colored)
}

.dark [class*=language-] {
  --tw-shadow-color: rgba(31, 31, 31, 1);
  --tw-shadow: var(--tw-shadow-colored)
}
*/
